@charset "utf-8";
/* CSS Document */
/* main div styling*/
.wrapper {
	background-color: #FFF;
}
.container {
	width: 1069px;
	margin: 0px auto;
	min-height: 1800px;
	background-image: url(../img/detail.jpg);
}
/* header div styling*/
.header {
	background-color: #594e4e;
	padding: 31px 30px 10px 30px;
	height: 189px;
}
.logo {
	margin-bottom: 17px;
}
.menu {
	float: left;
	margin-top: 20px;
}
.banner {
	background-color: #a49191;
	padding: 17px 30px 13px 30px;
	margin-top: -1px;
}
/*  body div styling*/
.main-body {
	
	padding: 24px 30px 0px 31px;
	min-height: 634px;
	background-color: #FFF;
	border-bottom: 2px solid #b2b2b2;
}
.bdy-desc {
}

.left-div {
	width: 535px;
	padding-left: 22px;
	float: left;
}
.right-div {
	float: right;
	padding-right: 6px;
}
.products{
display:none;
}
.navigator #product1{
	display:block;
}
/* footer div styling*/
.footer {
	opacity:0.5;
}
.footerpart1 {
	min-height: 212px;
	background-image: url(../img/background-slice.png);
	background-repeat: repeat;
	padding: 38px 30px 40px 58px;
	font-size: 15px;
	color: black;
}
.ftdesc {
	margin-bottom: 19px;
	padding-bottom: 23px;
	border-bottom: 2px solid;
	border-bottom-color: #3794a5;
}
.ftnav {
	background-color: #FFF;
	padding: 4px 30px 6px 50px;
	height: 20px;
}
.ftbottom {
	opacity:0.5;
	min-height: 369px;
	font-size: 11px;
	padding: 17px 20px 0px 69px;
	background-image: url(../img/ft-bg.png);
	background-repeat: repeat-x;
}
.ftcountry {
	float: left;
}
.ftbottom-nav {
	float: right;
	width: 810px;
}
.country {
	float: left;
	height: 14px;
}
/* button layout*/
.button {
	float: left;
}
.lightbox {
	width: 1008px;
	height: 470px;
	position: absolute;
	top: 13px;
	left: 0px;
	border-style: solid;
	border-width: 1px;
	border-color: #e8e8e8;
	background-color: rgba(0,0,0,0.1);
	padding: 35px 30px 35px 30px;
}
.closebtn {
	width: 23px;
	height: 26px;
	position: absolute;
	right: 22px;
	top: 8px;
	background-image: url(../img/closebtn.png);
}
.lightbox img {
	width: 1009px;
	height: 470px;
}
