@charset "utf-8";
/* CSS Document */
/*menu styling*/
.menu ul {
	float: left;
}
.menu ul li {
	float: left;
	list-style-type: none;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 17px;
	height: 80px;
	color: white;
}
.menu ul li a {
	background: #a49191;
	line-height: 50px;
	display: block;
	text-decoration: none;
	color: white;
	padding: 0px 16px;
	margin: 15px 0px;
}
.menu ul li ul {
	display: none;
	position: absolute;
	background-color: #594e4e;
	margin-top: -6px;
	padding: 2px 0px 6px 0px;
}
.menu ul li ul li {
	float: none;
	height: 28px;
}
.menu ul li ul li a {
	background-color: #5a93e9;
	line-height: 28px;
	padding-left: 10px;
	margin: 2px 0px;
	min-width: 176px;
	text-align: left;
	display: block;
	text-decoration: none;
	color: white;
}
.menu ul li:hover {
	background: #5a93e9;
}
.menu ul li:hover a {
	background: none;
	margin: 0px;
	padding: 15px 16px;
	line-height: 50px;
}
.menu ul li:hover ul {
	display: block;
}
.menu ul li:hover ul li {
	background: none;
	line-height: 28px;
}
.menu ul li:hover ul li a {
	background: #5a93e9;
	margin: 0px;
	padding: 0px;
	line-height: 28px;
}
.menu ul li:hover ul li a {
	line-height: 28px;
	padding-left: 10px;
	margin: 2px 0px;
}
.menu ul li.active {
	background: #5a93e9;
}
.menu ul li.active a {
	background: none;
	margin: 0px;
	padding: 15px 16px;
	line-height: 50px;
}
/*searchbox styling*/

.searchbox {
	float: right;
	padding: 15px 0px;
	height: 50px;
}
.searchbox img {
	float: right;
	height: 50px;
	cursor: pointer;
}
.searchbox span {
	float: left;
	display: block;
	background: #a49191;
	padding: 0px 16px;
	margin-right: 1px;
}
.searchbox span input {
	margin: 12px 0px;
	height: 8px;
	width: 191px;
	background: #e6e6e6;
	border: none;
	color: #a49191;
	padding: 9px 12px;
}
